services:
  youtrack:
    image: jetbrains/youtrack:2025.3.110568
    restart: unless-stopped
    volumes:
      - youtrack_data:/opt/youtrack/data
      - youtrack_conf:/opt/youtrack/conf
      - youtrack_logs:/opt/youtrack/logs
      - youtrack_backups:/opt/youtrack/backups
    expose:
      - 8080

volumes:
  youtrack_data:
  youtrack_conf:
  youtrack_logs:
  youtrack_backups: