services:
  excalidraw:
    image: excalidraw/excalidraw:sha-4bfc5bb
    restart: unless-stopped
    healthcheck:
      test:
        - CMD
        - wget
        - '--spider'
        - '--quiet'
        - 'http://localhost'
      interval: 30s
      timeout: 5s
      retries: 3
    expose:
      - 80