# k8s_gitops/app/monitoring/values.yaml
grafana:
  sidecar:
    datasources:
      watchMethod: "SLEEP"
  grafana.ini:
    check_for_updates: false
    reporting_enabled: false
    server:
      root_url: https://grafana.wittnerlab.com
      enable_gzip: true
    security:
      disable_gravatar: true
    dashboards:
      min_refresh_interval: 60s
    auth:
      disable_login_form: true
    auth.generic_oauth:
      enabled: true
      allow_sign_up: true
      auto_login: false
      allow_assign_grafana_admin: true
      role_attribute_path: contains(groups[*], 'grafana_admins') && 'GrafanaAdmin' || 'Viewer'
      name: Authentik
      scopes: openid profile email offline_access
      auth_url: https://authentik.wittnerlab.com/application/o/authorize/
      token_url: https://authentik.wittnerlab.com/application/o/token/
      api_url: https://authentik.wittnerlab.com/application/o/userinfo/
      use_pkce: true
      use_refresh_token: true
  envValueFrom:
    GF_AUTH_GENERIC_OAUTH_CLIENT_ID:
      secretKeyRef:
        name: monitoring-secret
        key: oauth_client_id
    GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
      secretKeyRef:
        name: monitoring-secret
        key: oauth_client_secret
  defaultDashboardsInterval: 10m
  ingress:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      external-dns.alpha.kubernetes.io/hostname: grafana.wittnerlab.com
      external-dns.alpha.kubernetes.io/target: f9de1d0c-0f6f-4389-b8cb-029bee73d70d.cfargotunnel.com
    hosts: 
      - grafana.wittnerlab.com
#  admin:
#    existingSecret: monitoring-secret
#    userKey: admin_login
#    passwordKey: admin_password
prometheus:
  prometheusSpec:
    retention: 7d    
    storageSpec: 
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
kubelet:
  enabled: true