global:
  domain: argocd.wittnerlab.com
server:
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      external-dns.alpha.kubernetes.io/hostname: argocd.wittnerlab.com
      external-dns.alpha.kubernetes.io/target: f9de1d0c-0f6f-4389-b8cb-029bee73d70d.cfargotunnel.com
    pathType: Prefix
    path: /
configs:
  secret:
      extra:
          dex.authentik.clientId: "xxx"
          dex.authentik.clientSecret: "xxx"
  params:
    server.insecure: "true"
  cm:
    statusbadge.enabled: true
    admin.enabled: true
    url: https://argocd.wittnerlab.com
    dex.config: |
      connectors:
      - config:
          issuer: https://authentik.wittnerlab.com/application/o/argocd/
          clientID: $authentik-argocd-credentials:dex.authentik.clientId
          clientSecret: $authentik-argocd-credentials:dex.authentik.clientSecret
          insecureEnableGroups: true
          scopes:
          - openid
          - profile
          - email
        name: authentik
        type: oidc
        id: authentik
  rbac:
    policy.csv: |
      g, argocd_admins, role:admin
      g, argocd_users, role:readonly