# k8s_gitops/app/monitoring/values.yaml
grafana:
  grafana.ini:
    check_for_updates: false
    reporting_enabled: false
    server:
      enable_gzip: true
    security:
      disable_gravatar: true
    dashboards:
      min_refresh_interval: 60s
    auth.google:
      enabled: true
      client_id: CLIENT_ID
      client_secret: CLIENT_SECRET
      scopes: https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email
      auth_url: https://accounts.google.com/o/oauth2/auth
      token_url: https://accounts.google.com/o/oauth2/token
      allowed_domains: mycompany.com mycompany.org
      allow_sign_up: true
  defaultDashboardsInterval: 10m
  ingress:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      external-dns.alpha.kubernetes.io/hostname: grafana.wittnerlab.com
      external-dns.alpha.kubernetes.io/target: 9110d4dd-b637-4907-8ff3-cd54a0ddfbc8.cfargotunnel.com
    hosts: 
      - grafana.wittnerlab.com
  admin:
    existingSecret: monitoring-secret
    userKey: admin_login
    passwordKey: admin_password
prometheus:
  prometheusSpec:
    retention: 7d    
    storageSpec: 
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
kubelet:
  enabled: true