# k8s_gitops/app/monitoring/values.yaml
grafana:
  defaultDashboardsInterval: 10m
  ingress:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
      external-dns.alpha.kubernetes.io/hostname: grafana.wittnerlab.com
      external-dns.alpha.kubernetes.io/target: 9110d4dd-b637-4907-8ff3-cd54a0ddfbc8.cfargotunnel.com
    hosts: 
      - grafana.wittnerlab.com
  admin:
    existingSecret: monitoring-secret
    userKey: admin_login
    passwordKey: admin_password
prometheus:
  prometheusSpec:
    retention: 7d    
    storageSpec: 
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
kubelet:
  enabled: true